spring:
  application:
    name: blogging-platform
  profiles:
    active: dev

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env
  endpoint:
    health:
      show-details: always
  info:
    env:
      enabled: true

info:
  app:
    name: Blogging Platform
    description: Spring Boot Blogging Platform - Project 9
    version: 1.0.0